<!-- Navigation -->
  <navbar-directive></navbar-directive>

    
    <!-- Content Section -->
    <div class="container" style="margin-top:10px;">
      <div class="row">
        <div class="col-lg-8" style="padding-top:10px;margin-left:15%;">
          <center><h2>Edit Todo</h2></center>

            <form enctype='multipart/form-data' class="form-horizontal" name="todoForm" ng-submit="editTodo($event)" novalidate>
              <div class="container">
                <div class="form-group">
                  <label class="control-label"><b>Name</b></label>
                  <input type="text" placeholder="Enter Name" name="name" ng-pattern="/^[A-Za-z]+$/" ng-minlength="3" ng-maxlength="50" ng-model="todosDetails.name" id="name" required>
                  
                  <!-- validation -->
                  <span class="error" style="color:red" ng-show="todoForm.name.$dirty && todoForm.name.$invalid || todoForm.$submitted && todoForm.name.$invalid">
                    <span ng-show="todoForm.name.$error.required">Name is required.</span>
                    <span ng-show="todoForm.name.$invalid" ng-hide="todoForm.name.$error.required">Name must have 3-50 characters.</span>
                  </span> 
                </div>

                <div class="form-group" style="margin-bottom:80px;">
                  <label class="control-label"><b>Todo Date</b></label>
                  <datepicker date-format="yyyy-MM-dd">
                      <input type="text" placeholder="Enter todo date" name="todoDate" ng-model="todosDetails.todoDate" id="last_name" required>

                      <!-- validation -->
                      <span class="error" ng-show="todoForm.todoDate.$dirty && todoForm.todoDate.$invalid || todoForm.$submitted && todoForm.todoDate.$invalid">
                        <span ng-show="todoForm.todoDate.$error.required">Todo date is required.</span>
                      </span>
                  </datepicker>             
                </div>

                <div class="form-group">
                  <label class="control-label"><b>Categories</b></label>
                  <div>
                    <input type="checkbox" name="officeCategory" id="officeCategory" value="office" ng-model="todosDetails.officeCategory">Office
                    <input type="checkbox" name="trainingcategory" id="trainingcategory" value="training" ng-model="todosDetails.trainingcategory">Training
                  </div>
                  </span>
                </div> 

                <div class="form-group">
                  <label class="control-label"><b>Is Reminder?</b></label>
                  <div>
                    <input type="radio" name="isReminder" id="isReminder" value="1" ng-model="todosDetails.isReminder" required>Yes
                    <input type="radio" name="isReminder" id="isReminder" value="0" ng-model="todosDetails.isReminder" required>No
                  </div>
                  <span class="error" style="color:red" ng-show="todoForm.isReminder.$dirty && todoForm.isReminder.$invalid || todoForm.$submitted && todoForm.isReminder.$invalid">
                    <span ng-show="todoForm.isReminder.$error.required">Todo date is required.</span>
                  </span>
                </div> 

                <div class="form-group" ng-show="isReminder == 1">
                  <label class="control-label"><b>Reminder Date</b></label>
                  <datepicker date-format="yyyy-MM-dd">
                    <input type="text" placeholder="Enter Reminder Date" name="reminderDate" id="reminderDate" ng-model="todosDetails.reminderDate" readonly>
                  </datepicker>
                </div> 

                <div class="form-group">
                  <label class="control-label"><b>Is Public?</b></label>
                  <div>
                    <input type="radio" name="isPublic" id="isPublic" value="1" ng-model="todosDetails.isPublic" required>Yes
                    <input type="radio" name="isPublic" id="isPublic" value="0" ng-model="todosDetails.isPublic" required>No
                  </div>

                  <span class="error" style="color:red" ng-show="todoForm.isPublic.$dirty && todoForm.isPublic.$invalid || todoForm.$submitted && todoForm.isPublic.$invalid">
                    <span ng-show="todoForm.isPublic.$error.required">Is public is required.</span>
                  </span>
                </div> 

                <div class="form-group">
                  <label class="control-label"><b>Mark as Done?</b></label>
                  <div>
                    <input type="radio" name="status" id="status" value="1" ng-model="todosDetails.status" required>Yes
                    <input type="radio" name="status" id="status" value="0" ng-model="todosDetails.status" required>No
                  </div>

                  <span class="error" style="color:red" ng-show="todoForm.isPublic.$dirty && todoForm.isPublic.$invalid || todoForm.$submitted && todoForm.isPublic.$invalid">
                    <span ng-show="todoForm.isPublic.$error.required">Is public is required.</span>
                  </span>
                </div> 

                <div class="form-group">
                  <label class="control-label"><b>Image</b></label>
                  <input type="file" name="file" id="file" ng-model="file" file-upload>
                  
                  <!-- validation -->
                  <span style="color:red" ng-show="todoForm.file.$dirty && todoForm.file.$invalid || todoForm.$submitted && todoForm.file.$invalid">
                    <span ng-show="todoForm.file.$error.required"> Image is required.</span>
                  </span> 
                </div>
                <div class="col-md-6">
                   <img ng-src="{{filepreview}}" class="img-responsive" width="50%" ng-show="filepreview"/>
                </div>  
                    
                <center><button class="btn btn-primary" ng-disabled="todoForm.$invalid">Save</button></center>
              </div>
            </form>
        </div>
      </div>
    </div>

    