<!-- Navigation -->
  <navbar-directive></navbar-directive>

    
    <!-- Content Section -->
    <div class="container" style="margin-top:10px;">
      <div class="row">
        <div class="col-lg-8" style="padding-top:10px;margin-left:15%;">
          <center><h2>Edit</h2></center>

            <form class="form-horizontal" name="editForm" ng-submit="editSubmit($event)" novalidate>
              <div class="container">
                <div class="form-group">
                  <label class="control-label"><b>First Name</b></label>
                  <input type="text" placeholder="Enter First Name" name="first_name" ng-pattern="/^[A-Za-z]+$/" ng-minlength="3" ng-maxlength="15" ng-model="first_name" id="first_name" required>
                  
                  <!-- validation -->
                  <span class="error" style="color:red" ng-show="editForm.first_name.$dirty && editForm.first_name.$invalid || editForm.$submitted && editForm.first_name.$invalid">
                    <span ng-show="editForm.first_name.$error.required">First name is required.</span>
                    <span ng-show="editForm.first_name.$invalid" ng-hide="editForm.first_name.$error.required">First name must have 3-15 characters.</span>
                  </span> 
                </div>

                <div class="form-group">
                  <label class="control-label"><b>Last Name</b></label>
                  <input type="text" placeholder="Enter Last Name" ng-pattern="/^[A-Za-z]+$/" ng-minlength="3" ng-maxlength="15" name="last_name" ng-model="last_name" id="last_name" required>
                  
                  <!-- validation -->
                  <span class="error" style="color:red" ng-show="editForm.last_name.$dirty && editForm.last_name.$invalid || editForm.$submitted && editForm.last_name.$invalid">
                    <span ng-show="editForm.last_name.$error.required">Last name is required.</span>
                    <span ng-show="editForm.last_name.$invalid" ng-hide="editForm.last_name.$error.required">Last name must have 3-15 characters.</span>
                  </span>
                </div>

                <div class="form-group">
                  <label class="control-label"><b>Gender</b></label> &nbsp;&nbsp;&nbsp;
                  <input type="radio" name="gender" value="male" ng-model="gender" required> Male
                  <input type="radio" name="gender" value="female" ng-model="gender" required> Female

                  <!-- validation -->
                  <span class="error" style="color:red" ng-show="editForm.gender.$dirty && editForm.gender.$invalid || editForm.$submitted && editForm.gender.$invalid">
                    <span ng-show="editForm.gender.$error.required">Gender is required.</span>
                  </span> 
                </div>
                    
                <div class="form-group">
                  <label class="control-label"><b>Address</b></label>
                  <textarea name="address" ng-model="address" class="form-control" required></textarea>

                  <!-- validation -->
                  <span style="color:red" ng-show="editForm.address.$dirty && editForm.address.$invalid || editForm.$submitted && editForm.address.$invalid">
                    <span ng-show="editForm.address.$error.required"> Address is required.</span>
                    <span ng-show="editForm.address.$invalid" ng-hide="editForm.address.$error.required">Invalid address.</span>
                  </span> 
                </div> 

                <div class="form-group">
                  <label class="control-label"><b>Image</b></label>
                  <input type="file" name="file" id="file" ng-model="file" file-upload>
                  
                  <!-- validation -->
                  <span style="color:red" ng-show="editForm.file.$dirty && editForm.file.$invalid || editForm.$submitted && editForm.file.$invalid">
                    <span ng-show="editForm.file.$error.required"> Image is required.</span>
                  </span> 
                </div>  
                <div class="col-md-6">
                   <img ng-src="{{filepreview}}" class="img-responsive" width="50%" ng-show="filepreview"/>
                </div>
                
                <center><button class="btn btn-primary" ng-disabled="editForm.$invalid">Save</button></center>
              </div>
            </form>
        </div>
      </div>
    </div>

    