<!-- Navigation -->
  <navbar-directive></navbar-directive>

  <!-- Content Section -->
    <div class="container">
      <div class="row">
        <div class="col-lg-12 div_padding">
          <lable class="pull-left"><h5>Todo Listing</h5></lable>
          <button class="pull-right btn btn-primary col-md-2" ng-click="createTodo()">Add</button>
        </div>
        <div class="col-md-12">
            <search-directive></search-directive>
        </div>
        <div class="col-lg-12 text-center" style="padding-top:10px;">
          
          <table class="table table-bordered" id="displayTable">
            <thead>
              <tr>
                <th style="text-align:center;"><input type="checkbox" ng-model="isAll" ng-click="selectAllRows()"/></th>
                <th style="text-align:center;">Sr. No.</th>
                <th style="text-align:center;">Name</th>
                <th style="text-align:center;">Is Reminder</th>
                <th style="text-align:center;">Date</th>
                <th style="text-align:center;">Reminder Date</th>
                <th style="text-align:center;">Public</th>
                <th style="text-align:center;">Status</th>
                <th style="text-align:center;">Image</th>
                <th style="text-align:center;">Action</th>
              </tr>
            </thead>
            <tbody id="table_body">
              <tr ng-repeat='list in list_items | myfilter: startDate: endDate | filter:{status:status}'>
                  <td><input type="checkbox" ng-model="tableSelection[$index]" /></td>
                  <td>{{$index + 1}}</td>
                  <td>{{list.name}}</td>
                  <td>{{list.todoDate}}</td>
                  <td><span ng-if="list.isReminder == 1">Yes</span><span ng-if="list.isReminder == 0">No</span></td>
                  <td>{{list.reminderDate}}</td>
                  <td><span ng-if="list.isPublic == 1">Yes</span><span ng-if="list.isPublic == 0">No</span></td>
                  <td><span ng-if="list.status == 1">Yes</span><span ng-if="list.status == 0">No</span></td>
                  <td><img ng-src="{{list.image}}" class="img-responsive" width="10%"/></td>
                  <td width="14%">
                    <button class="btn btn-success btn-xs" data-title="Delete" data-toggle="modal" ng-click="editTodo(list.id)"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button>
                    <button class="btn btn-success btn-xs" data-title="Delete" data-toggle="modal" ng-click="viewTodo(list.id)"><i class="fa fa-eye" aria-hidden="true"></i></button>
                  </td>
              </tr>
            </tbody>
          </table>

        </div>
        <button class="btn btn-danger col-md-2" ng-click="removeSelectedRows()">Remove</button>
      </div>
    </div>