
<div class="row">
  <div class="col-lg-8" style="padding-top:10px;margin-left:15%;">
    <center><h2>Registration</h2></center>

      <form action="" name="registrationForm" ng-submit="formSubmit($event)" class="form-horizontal" enctype='multipart/form-data' novalidate>
        <div class="container">
          <div class="form-group">
            <label class="control-label"><b>First Name</b></label>
            <input type="text" placeholder="Enter First Name" name="first_name" ng-pattern="/^[A-Za-z]+$/" ng-minlength="3" ng-maxlength="15" ng-model="first_name" id="first_name" required>

            <!-- validation -->
            <span class="error" style="color:red" ng-show="registrationForm.first_name.$dirty && registrationForm.first_name.$invalid || registrationForm.$submitted && registrationForm.first_name.$invalid">
              <span ng-show="registrationForm.first_name.$error.required">First name is required.</span>
              <span ng-show="registrationForm.first_name.$invalid" ng-hide="registrationForm.first_name.$error.required">First name must have 3-15 characters.</span>
            </span>   

          </div>

          <div class="form-group">
            <label class="control-label"><b>Last Name</b></label>
            <input type="text" placeholder="Enter Last Name" name="last_name" ng-model="last_name" ng-pattern="/^[A-Za-z]+$/" ng-minlength="3" ng-maxlength="15" id="last_name" required>

            <!-- validation -->
            <span class="error" style="color:red" ng-show="registrationForm.last_name.$dirty && registrationForm.last_name.$invalid || registrationForm.$submitted && registrationForm.last_name.$invalid">
              <span ng-show="registrationForm.last_name.$error.required">Last name is required.</span>
              <span ng-show="registrationForm.last_name.$invalid" ng-hide="registrationForm.last_name.$error.required">Last name must have 3-15 characters.</span>
            </span> 
          </div>

          <div class="form-group">
            <label class="control-label"><b>Gender</b></label> &nbsp;&nbsp;&nbsp;
            <input type="radio" name="gender" value="male" ng-model="gender" required> Male
            <input type="radio" name="gender" value="female" ng-model="gender" required> Female

            <!-- validation -->
            <span class="error" style="color:red" ng-show="registrationForm.gender.$dirty && registrationForm.gender.$invalid || registrationForm.$submitted && registrationForm.gender.$invalid">
              <span ng-show="registrationForm.gender.$error.required">Gender is required.</span>
            </span> 
          </div>

          <div class="form-group">
            <label class="control-label"><b>Email</b></label>
            <input type="text" placeholder="Enter Email" ng-pattern="/^[a-z0-9]+[a-z0-9._]+@[a-z]+\.[a-z.]{2,5}$/" name="email" id="email" ng-model="email" required>

            <!-- validation -->
            <span style="color:red" ng-show="registrationForm.email.$dirty && registrationForm.email.$invalid || registrationForm.$submitted && registrationForm.email.$invalid">
              <span ng-show="registrationForm.email.$error.required"> Email is required.</span>
              <span ng-show="registrationForm.email.$invalid" ng-hide="registrationForm.email.$error.required">Invalid email address.</span>
            </span> 
          </div>  
          
          <div class="form-group">  
            <label class="control-label"><b>Password</b></label>
            <input type="password" placeholder="Enter Password" name="password" ng-pattern="/^[A-Za-z0-9!@#$%^&*()_]{6,16}$/" ng-model="password" id="password" required>

            <!-- validation -->
            <span style="color:red" ng-show="registrationForm.password.$dirty && registrationForm.password.$invalid || registrationForm.$submitted && registrationForm.password.$invalid">
              <span ng-show="registrationForm.password.$error.required">Password is required.</span>
              <span class="error" ng-show="registrationForm.password.$invalid" ng-hide="registrationForm.password.$error.required">
                 password must have 6-16 characters  
              </span>                             
            </span>
          </div>

          <div class="form-group">  
            <label class="control-label"><b>Confirm Password</b></label>
            <input type="password" placeholder="Enter Password" name="confirm_password" ng-pattern="/^[A-Za-z0-9!@#$%^&*()_]{6,16}$/" ng-model="confirm_password" class="form-control" id="confirm_password" required>

            <!-- validation -->
            <span style="color:red" ng-show="registrationForm.confirm_password.$dirty && registrationForm.confirm_password.$invalid || registrationForm.$submitted && registrationForm.confirm_password.$invalid">
              <span ng-show="registrationForm.confirm_password.$error.required">Password is required.</span>
              <span class="error" ng-show="registrationForm.confirm_password.$invalid" ng-hide="registrationForm.confirm_password.$error.required">
                 password must have 6-16 characters  </span>  
            </span>
            <span class="error" ng-if="(confirm_password!=password) && registrationForm.confirm_password.$dirty" ng-hide="registrationForm.confirm_password.$invalid">Passwords don't match.</span> 
          </div>

          <div class="form-group">
            <label class="control-label"><b>Address</b></label>
            <textarea name="address" ng-model="address" class="form-control" required></textarea>

            <!-- validation -->
            <span style="color:red" ng-show="registrationForm.address.$dirty && registrationForm.address.$invalid || registrationForm.$submitted && registrationForm.address.$invalid">
              <span ng-show="registrationForm.address.$error.required"> Address is required.</span>
              <span ng-show="registrationForm.address.$invalid" ng-hide="registrationForm.address.$error.required">Invalid address.</span>
            </span> 
          </div> 

            <div class="form-group">
              <label class="control-label"><b>Image</b></label>
              <input type="file" name="file" id="file" ng-model="file" file-upload>
              
              <!-- validation -->
              <span style="color:red" ng-show="todoForm.file.$dirty && todoForm.file.$invalid || todoForm.$submitted && todoForm.file.$invalid">
                <span ng-show="todoForm.file.$error.required"> Image is required.</span>
              </span> 
            </div>  
            <div class="col-md-6">
               <img ng-src="{{filepreview}}" class="img-responsive" width="50%" ng-show="filepreview"/>
            </div>
          <center><button>Submit</button></center>
        </div>
      </form>
  </div>
</div>
  